<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="A really cool site!">
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
    <style>
        section {
            width: 970px;
        }

    </style>
</head>

<body>
    <section class=center>
           <h1>Random Numbers</h1>
           {% for number in random_numbers %}
                <p>{{ number }}</p>
            {% endfor %}
            <h1>Students</h1>
            {% for student in students%}
                <p>{{ student['name'] }} - {{ student['age'] }}</p>
            {% endfor %}

    </section>



</body>

</html>
